<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Chalkboard by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/media/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="logo">
		<h1><a href="#">Eventex</a></h1>
	</div>
</div>
<div id="content">
	<div id="colOne">
		<div class="post">
			<h2 class="title">Bem-vindo ao EventeX!</h2>
			<div class="story">
				<p><br /></p>
				<ul>
					<li>O evento mais sensacional do ano depois do Dev in Rio!
                                        <br /><br /></li>
                                        <li>Você não pode perder esta oportunidade!</li>
                                        <br />
                                        <li>Abertura das inscrições em 12/02/2011.<br /></li><br />
                                        <li>Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a>.
                                        </li>
                                </ul>
			</div>
			
		</div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<p>Copyright &copy; 2006 Chalkboard. Designed by <a href="http://www.freecsstemplates.org/"><strong>Free CSS Templates</strong></a></p>
</div>
</body>
</html>
